<div class="comment-top">
    <h4>Add a Comment</h4>
    <div class="comment-bottom">
        <form action="/comment/PartialAddComment" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="UserName" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Title" required="">
            <textarea class="form-control" name="CommentConnent" placeholder="Yout Comment..." required=""></textarea>
            <button type="submit" class="btn btn-primary submit">Submit Coment</button>
        </form>
    </div>
</div>