@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-6">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Pie Chart Example</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="chartdiv"></div>
            </div>
        </div>
    </div>




<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(DrawonLoad);

    function DrawonLoad() {
        // AJAX ile veriyi alıyoruz
        $.ajax({
            type: 'GET',
            url: '/Admin/Chart/CategoryChart/',
            success: function (chartsdata) {
                var Data = chartsdata.jsonlist;  // Veriyi alıyoruz
                var data = new google.visualization.DataTable();

                // Sütunları tanımlıyoruz
                data.addColumn('string', 'categoryname');
                data.addColumn('number', 'categorycount');

                // Gelen veriyi döngü ile ekliyoruz
                for (var i = 0; i < Data.length; i++) {
                    data.addRow([Data[i].categoryName, Data[i].categoryCount]);
                    console.log(Data[i].categoryName);  // Veriyi konsola yazdırıyoruz
                }

                // Grafik oluşturuluyor
                var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));
                chart.draw(data, {
                });
            }
        });
    }

    
</script>
    @section scripts {
    }
